<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <section class="hero hero-small">
        <div class="container">
          <h2>Библиотека документов</h2>
          <p>Управляйте документами в едином защищенном пространстве</p>
        </div>
      </section>

      <section class="container">
        <div class="search-container">
          <input
            type="text"
            placeholder="Поиск документов..."
            class="search-input"
          />
          <button class="btn">Найти</button>
        </div>

        <div class="header-actions">
          <h3 class="section-title section-title-left">Ваши документы</h3>
          <a href="/documents/create" class="btn">Добавить документ</a>
        </div>

        <div class="document-card">
          <div class="document-card-flex">
            <div>
              <h3>Документ #<%= document.id %></h3>
              <p>Идентификатор документа: <%= document.id %></p>
              <p class="document-card-date">Добавлен: 10.05.2023</p>
            </div>
            <div class="button-group">
              <a
                href="/documents/<%= document.id %>/edit"
                class="btn btn-success"
                >Редактировать</a
              >
              <a
                href="/documents/<%= document.id %>/delete"
                class="btn btn-danger"
                >Удалить</a
              >
            </div>
          </div>
        </div>

        <div class="document-card">
          <div class="document-card-flex">
            <div>
              <h3>Презентация проекта</h3>
              <p>Презентация для клиентов о новом проекте</p>
              <p class="document-card-date">Добавлен: 05.05.2023</p>
            </div>
            <div class="button-group">
              <a href="/documents/2/edit" class="btn btn-success"
                >Редактировать</a
              >
              <a href="/documents/2/delete" class="btn btn-danger">Удалить</a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/index.js"></script>
  </body>
</html>
